<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IAwardDao">

    <resultMap id="dataMap" type="org.example.infrastructure.persistent.po.Award">
        <id column="id" property="id"/>
        <result column="award_id" property="awardId"/>
        <result column="award_key" property="awardKey"/>
        <result column="award_config" property="awardConfig"/>
        <result column="award_desc" property="awardDesc"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryAwardList" resultMap="dataMap">
        SELECT *
        FROM award
        limit 10
    </select>

    <select id="queryAwardConfigByAwardId" parameterType="java.lang.Long" resultType="java.lang.String">
        select award_config from award where award_id = #{awardId}
    </select>

    <select id="queryAwardKeyByAwardId" parameterType="java.lang.Long" resultType="java.lang.String">
        select award_key from award where award_id = #{awardId}
    </select>


</mapper>
