<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IRaffleActivitySkuDao">

    <resultMap id="dataMap" type="org.example.infrastructure.persistent.po.RaffleActivitySku">
        <id column="id" property="id"/>
        <result column="sku" property="sku"/>
        <result column="activity_id" property="activityId"/>
        <result column="activity_amount_id" property="activityAmountId"/>
        <result column="stock_amount" property="stockAmount"/>
        <result column="stock_remain" property="stockRemain"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryRaffleActivitySkuBySku" parameterType="java.lang.Long" resultMap="dataMap">
        select *
        from raffle_activity_sku
        where sku = #{sku}
    </select>

    <update id="updateActivitySkuStock" parameterType="java.lang.Long">
        update raffle_activity_sku
        set stock_remain = stock_remain - 1, update_time = now()
        where sku = #{sku} and stock_remain > 0
    </update>

    <update id="clearActivitySkuStock" parameterType="java.lang.Long">
        update raffle_activity_sku
        set stock_remain = 0, update_time = now()
        where sku = #{sku}
    </update>


</mapper>
