<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.infrastructure.persistent.dao.IStrategyAwardDao">

    <resultMap id="dataMap" type="org.example.infrastructure.persistent.po.StrategyAward">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="award_id" property="awardId"/>
        <result column="award_title" property="awardTitle"/>
        <result column="award_subtitle" property="awardSubtitle"/>
        <result column="award_amount" property="awardAmount"/>
        <result column="award_remain" property="awardRemain"/>
        <result column="award_rate" property="awardRate"/>
        <result column="sort" property="sort"/>
        <result column="rule_model" property="ruleModel"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="queryStrategyAwardList" resultMap="dataMap">
        SELECT *
        FROM strategy_award
        limit 10
    </select>
    <select id="queryStrategyAwardListByStrategyId" parameterType="java.lang.Long" resultMap="dataMap">
        SELECT *
        FROM strategy_award
        WHERE strategy_id = #{strategyId}
    </select>

</mapper>
